.mainWindow {
    background-image: url("../frontend/img/hourglass.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wrongLoginNotification {
    color: red;
}

.loginTitle {
    text-align: center;
    color: var(--lumo-base-color);
    font-size: 32px;
}

.loginIcon {
    width: 30px;
    height: 30 px;
    top: -4px;
}