@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    background: linear-gradient(220deg, #484962 45%, #d06b41 100%);
    // 2f2f3b
}

body {
  font-family: Roboto;
}

.mainPageBackground {
    background: url("https://lh3.googleusercontent.com/NXctQz6hqbhWBcefy0GNt4eDiF0SruTlXaM47vjbqMev3UxzAvauE1IMYTKyhO6nYnCRrAdUZF0fPEGMyFwTNa0_jz8ANg6wUM9-lQLM31LfWubbqqSEI5Ff6KlHyIEMH493-ZxdbWGAoLZaoWU9jIphXS1gHSLEE8o8qRJ-OPYVgLx_EKkQEfPnN52tCbAb_-zWWXq4zo4etnETfo_yM7VjKJzdWhTLn5PWbo8hhbHTJoOVZd_gPPYU7NeiMkQQhCTOWyOV9AztYUdlxYIESogHSNTrocl6nfAdu-vdUvst85V9slXLrQBHOMySvolVR60_D9pLfX-1K93bF5U0YjyTsAA8bh58YStod9q9V1izv23UYq52lSp2_cFsKtYOJdqXzdx8OPUVWmkWInuZQVcWuI9dE-TcJs3LtyJubDCoQvKFkEg0e-wUZOkAikDL_UqysSyWBKEJ0Zu-TeMs99LAlAMMBS0TKHfPqRmGsHpvPutCHhn9DGGzukL5o4m0UUbVEGD6GrI0CzWQGtxXUOYerCPZgG_MTh82SgeMx3O4H63M4d1GFuwNjVRkUsaucsWGZIw0sDbrhR27c6waJPmXEEuYwPHT3QiYIcnIaWXWEckg7qLK-YKOtZNuHo8OhL_U9VGpfax8kYi4KiRgEijlzVSODBxH=w500-h250-no") repeat-x left bottom,
        linear-gradient(220deg, #484962 45%, #d06b41 100%);
    // 2f2f3b
}

.digitSpan {
    font-weight: bold;
}

.wrapLabel {
    color: grey;
    font-size: 0.75em;
    white-space: pre-wrap;
    word-wrap: break-word;
    animation: appear 7s infinite;
    animation-iteration-count: 1
}

.topButton {
    color: white;
    text-align: center;
}

.topButtonsBar {
    margin-left: auto;
}

.errorNotification {
    color: red;
    text-align: center;
    font-weight: bold;
}

.nameLabel {
    font-weight: bold;
    font-size: 1.5em;
}

.loginTitle {
    text-align: center;
    color: white;
}

.loginIcon {
    width: 30px;
    height: 30 px;
    top: -4px;
}

.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.pageHeader {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.pageHeader:first-of-type {
    animation: appear 7s infinite;
    animation-iteration-count: 1
}

.timesDiv {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.5em;
}

.timesDiv:first-of-type {
    animation: appear 7s infinite;
    animation-iteration-count: 1
}

.titleMessage {
    font-size:32px;
    text-align: center;
    color: white;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.titleMessage:first-of-type {
    animation: showup 7s infinite;
    animation-iteration-count: 1
}

.titleMessage:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
    animation-iteration-count: 1
}

@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}

.p {
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name:particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before {
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}
.p-1 {
  animation-duration:10s;
  top: 84%;
}
.p-2 {
  animation-duration:15s;
  top: 82%;
}
.p-3 {
  animation-duration:5s;
  top: 80%;
}

@keyframes appear {
    0% {opacity:0;}
    40% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}


@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}