html {
    //background: linear-gradient(145deg, #484962 30%, #d06b41 100%);
    background: linear-gradient(145deg, white 30%, #0099ff 100%);
}

.errorNotification {
    color: red;
    text-align: center;
}

.loginTitle {
    text-align: center;
    color: var(--lumo-base-color);
}

.loginIcon {
    width: 30px;
    height: 30 px;
    top: -4px;
}
