html {
    background: linear-gradient(white 40%, 30%, cyan 60%);
}

.textOnMainPage {
    color: var(--lumo-base-color);
}

.startPageButtons {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.startPageButton {
    color: var(--lumo-base-color);
}

.wrongLoginNotification {
    color: red;
}

.loginTitle {
    text-align: center;
    color: var(--lumo-base-color);
}

.loginIcon {
    width: 30px;
    height: 30 px;
    top: -4px;
}